<form  [formGroup]="myForm" (ngSubmit)="submit()">
  Начало <input id="start" type="date" formControlName="startDate"/>
  <br />
  <br />
  Конец <input id="end" type="date" formControlName="endaDate"/>
  <br />
  <br />
  <button id="go" >Фильтр по заданным датам</button>
  <br />
  <br />
  <div id="res"></div>
</form>
<span>Фильтр по месяцу </span>
<select (change)="selectOption($event)" [(ngModel)]="selectedmonth">
  <option *ngFor="let month of months; let i = index" [value]="i">
    {{month }}
  </option>
</select>

<span> Фильтр по неделе месяца </span>
<select (change)="getWeeks($event)" [(ngModel)]="selectedWeek" *ngIf="selectedWeek" style="margin-right: 10px">
  <option *ngFor="let week of weeks; let i = index" [value]="i+1">
    {{week}}
  </option>
</select>

<button (click)="resetFliter()">очистить фильтр</button>
<button (click)="createDiogramm()">Построить диограммы</button>

<ag-grid-angular
  #agGrid
  pagination
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData | async"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
>
</ag-grid-angular>
